html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

h1, p {
  color: #3a241d;
  text-align: center;
  margin: 20px 0 0 0;
}

.main-grid-template {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #eee;
  padding-top: 50px;
}

.plant-holder {
  display: flex;
  width: 80%;
  max-width: 150px;
  margin-top: -30%;
  z-index: 2;
}

.plant {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.terrarium-container {
  display: flex;
  flex-direction: column;
}

.terrarium-grid {
  display: grid;
  grid-template: 50px 1fr 50px / 50px 1fr 50px;
  height: 100%;
}

.terrarium-jar {
  display: grid;
  grid-template-rows: 5% 20fr 1%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.jar-top {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.jar-top-fill {
  grid-column-start: 2;
  background: #d1e1df;
  opacity: 0.7;
}

.jar-walls {
  display: grid;
  grid-template-rows: 1fr 8%;
  border-radius: 7%;
  background: #d1e1df;
  opacity: 0.5;
}

.jar-water {
  display: grid;
  grid-template: 7fr 6% 3% 24% 1fr / 1fr 3% 20fr;
}

.jar-glossy-short {
  grid-column-start: 2;
  grid-row-start: 2;
  background: rgb(209, 246, 255);
  border-radius: 15px;
  z-index: 2;
}

.jar-glossy-long {
  grid-column-start: 2;
  grid-row-start: 4;
  background: rgb(209, 246, 255);
  border-radius: 15px;
  z-index: 2;
}

.jar-dirt {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
}

.jar-dirt-fill {
  grid-column-start: 2;
  background: #3a241d;
  border-radius: 0 0 4rem 4rem;
  z-index: -1;
}

.jar-bottom {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.jar-bottom-fill {
  grid-column-start: 2;
  background: #d1e1df;
  opacity: 0.7;
  z-index: 1;
}